@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    @if (User.Identity.IsAuthenticated){

    <h3>ıdentityname @User.Identity.Name</h3>  <!-- Kullanıcı adı veya e-posta -->
    <h3>value @User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value</h3>  <!-- Kullanıcı ID'si -->
    }
    
</div>
