@{
    ViewData["Title"] = "Admin Panel - Anasayfa";
    Layout = "_Layout";  
}

<div class="container mt-4">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 bg-light p-4">
            <h4 class="text-center">Admin Panel</h4>
            <ul class="nav flex-column mt-5">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="loadPartialView('/Category/CategoryList')">Kategoriler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="loadPartialView('/AppUser/AppUserList')">Kullanıcılar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" onclick="loadPartialView('/Article/ArticleList')">Makaleler</a>
                </li>
            </ul>
        </div>

        <!-- Main Content -->
        <div class="col-md-9" id="main-content">
            <!-- Dinamik içerik burada yüklenecek -->
        </div>
    </div>
</div>

@section Scripts {
    <script>

        $(document).ready(function () {
            var loadPartial = '@ViewBag.LoadPartial';
            if (loadPartial) {
                loadPartialView(loadPartial);
            }
        });


        function loadPartialView(url) {
            $.ajax({
                url: url,
                type: 'GET',
                success: function (html) {
                    $('#main-content').html(html);
                },
                error: function () {
                    $('#main-content').html('<p>İçerik yüklenemedi.</p>');
                }
            });
        }



    </script>
}